<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/assets/brand/brand.png" class="logo" width="30" height="30" alt="Stratus">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/image" routerLinkActive="active">Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-3 col-xs-0 p-l-0 p-r-0 collapse in" id="sidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-1 col-xs-1 sidebar-btn">
        <a href="#sidebar" data-toggle="collapse">
          <i class="fas fa-exchange-alt"></i>
        </a>
      </div>
      <main class="col-md-8 col-xs-11 p-l-2 p-t-2">
        <alert></alert>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>