/*#loginCSS {
    position:absolute;
    transition: .5s ease;
    top: 81%;
    left: 5%;
}
#regCSS {
    position:absolute;
    transition: .5s ease;
    top: 81%;
    left: 11%;
}
*/
#nameLabel {
    padding: 0;
    margin: 10;
    align-content: center;
}/*
#userField {
    width: 200px;
    align-content: center;
}

.form-control {
    width: 300px;
    align-content: center;
}

#rememberme {
    position:absolute;
    transition: .5s ease;
    top: 81%;
    left: 92%;
}

#password {

}*/