<div class="container-fluid " style="margin-top: 50px;  padding-top: 10px;">
  <p>
    I'm a default Home page. The home page works!
  </p>
  <div class="row">
    <div class="image-block col-md-5" style="background: url(https://qph.fs.quoracdn.net/main-qimg-1512cd9c2e48d354eada4c16378cdc9e-c) no-repeat center top;background-size:cover;">
      <p>Text</p>
    </div>
    <div class="image-block col-md-2" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city1.jpg) no-repeat center top;background-size:cover;">
      <p> Image Info </p>
    </div>
    <div class="image-block col-md-5" style="background: url(https://qph.fs.quoracdn.net/main-qimg-2012ff387b5845ecd3decf2a25afdffc-c) no-repeat center top;background-size:cover;">
      <p> Image Info </p>
    </div>
    <div class="image-block col-md-5" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
      <p> Image Info </p>
    </div>
    <div class="image-block col-md-5" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg) no-repeat center top;background-size:cover;">
      <p> Image Info </p>
    </div>
    <div class="image-block col-md-2" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city5.jpg) no-repeat center top;background-size:cover;">
      <p> Image Info </p>
    </div>
    <div class="image-block col-md-8" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city6.jpg) no-repeat center top;background-size:cover;">
      <p> Image Info </p>
    </div>
    <div class="image-block col-md-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city7.jpg) no-repeat center top;background-size:cover;">
      <p> Image Info </p>
    </div>
  </div>
</div>