<p>
  I'm a default Home page. The home page works!
</p>
<div class="container-fluid " style="margin-top: 50px;  padding-top: 10px;">

  <div class="row justify-content-between">
      <div class="col-xs-12 col-md-6 text-center">
          <img src="https://qph.fs.quoracdn.net/main-qimg-1512cd9c2e48d354eada4c16378cdc9e-c" alt="Mountain View">
        </div>
  
        <div class="col-xs-12 col-md-6 text-center">
          <div>
              <img src="https://qph.fs.quoracdn.net/main-qimg-021a200b7b4c42db8a86c5682f2e93df-c" alt="something else">
          </div>
          <div>
              <img src="https://qph.fs.quoracdn.net/main-qimg-2012ff387b5845ecd3decf2a25afdffc-c" alt="something else">
          </div>
        </div>
  </div>
</div>